.at_box #home {
  background: url(../images/img/top11.png) no-repeat;
}
.at_box #home3 {
  background-color: #fff;
  color: #000;
  margin-top: 0;
}
.at_box #home4 {
  font-size: 30px;
  padding: 0;
  height: 60px;
  line-height: 60px;
  background: #185f8f;
  color: #fff;
  text-align: center;
}
.at_box #home5 img {
  width: 60%;
}
.at_box #home8 {
  height: auto;
  margin: 50px auto;
  width: 80%;
  text-align: center;
}
.bg_3 {
  display: none;
}
@media (max-width: 768px) {
  .bg_2 {
    display: none;
  }
  .bg_3 {
    width: 100%;
    display: block;
  }
  #home4 {
    width: 100%;
  }
  .at_box #home8 {
    width: 90%;
    margin: 20px auto;
  }
  .at_box #home5 img {
    width: 100%;
  }
}
