body{
    /* background:#0b0b1a;
    background-size: 100% 100%; */
    background: url(../images/honey_bg.png) no-repeat;
    background-size: cover;
}
img{
    display: inline-block;
}
.navbar {
    position: fixed;
    min-height: 60px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px RGBA(35, 45, 70, 0.4);
}
.navbar-inverse{
    /* background:#0b0b1a; */
    background: url(../images/honey_bg.png) no-repeat;
    background-size: cover;
}
.navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 0px;
}
.nav > li > a > img {
    max-width: 24px;
}

.nav-fluid {
    margin-top: 17px;
    padding: 0 22px;
}
.logo_box{
    /*background:url('../images/logo_bg.png') no-repeat;*/
    /*background-size: 100% 100%;*/
    /*width:243px;*/
    /*position: absolute;*/
    /*top:0;*/
}
.logo{
    height: 90px;
    margin: 40px auto;
    display: block;
}
.sidebar{
    top:0px;
    background: url(../images/honey_bg.png) no-repeat;
    background-size: cover;
    /* background-color:#0b0b1a; */
}
.sidebar::-webkit-scrollbar {
    width: 0px;
    height: 13px;
}
.secondmenu > li > a{
    padding:10px 0 10px 50px;
}

.nav-sidebar > li ul{
    /*background-color:#fff;*/
    box-sizing: border-box;
}
.nav-sidebar > .first-li ul .active{
    color:#000;
    background-color: RGBA(255,255,255, 0.6);
}
.navbar-brand{
    padding:0;
    margin:0;
}

.li_box{
    margin-top: 8px;
    color:#B3B3B3;
    font-size: 12px;
    margin-right: 13px;
}
.li_box .label{
    color:#B3B3B3;
}
.li_box .num{
    background:linear-gradient(to bottom,#1A1A1A 0%,#1F1F1F 100%);
    padding:4px 8px;
    border-radius:2px;
    color:#C9A74D;
}
.li_box .id{
    background:linear-gradient(to bottom,#494444 0%,#5b5a5a 100%);
    cursor: pointer;
}
.id_box{
    position: relative;
}
.childrenId{
    background:#414141;
    position: absolute;
    top:25px;
    left:20px;
    padding:20px;
    display: none;
    flex-wrap: wrap;
    width: 270px;
    max-height: 130px;
    overflow: auto;
    border:1px solid #7B6D3B;
}
.childrenId span{
    padding:4px 10px;
    background:linear-gradient(to bottom,#373737 0%,#222222 100%);
    color:#C9A74D;
    border-radius: 3px;
    margin:0 10px 10px 0;
}

/*个人信息*/

.head_icon{
    /*background-color: RGBA(43, 43, 43, 1);*/
    text-align: left;
    margin: 20px -21px;
    padding: 20px;
    color: #fff;
}
.head_icon .name{
    font-size: 24px;
    color: #C9AC6E;
    margin-bottom: 5px;
}
.small_box{
    margin-top: 10px;
}
.small_box>span{
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.bg_color1{
    background-color: RGBA(74, 157, 33, 0.6);
}
.bg_color2{
    background-color: RGBA(247, 182, 48, 0.6);
}
.bg_color3{
    background-color: RGBA(201, 172, 110, 0.6);
}
.bg_color4{
    background-color: RGBA(255, 145, 3, 0.77);
}
.icon_sure,.icon_with,.icon_safe,.icon_help{
    display: inline-block;
    width: 12px;
    height: 12px;
}
.icon_sure{
    background: url(../images/icon_sure.png) no-repeat;
    background-size: 100% 100%;
}
.icon_with{
    background: url(../images/icon_with.png) no-repeat;
    background-size: 100% 100%;
}
.icon_safe{

    background: url(../images/icon_safe.png) no-repeat;
    background-size: 100% 100%;
}
.icon_help{
   display: inline-block;
   width: 4px;
   height: 10px;
   background: url(../images/icon_help.png) no-repeat;
   background-size: 100% 100%;
}
.head_icon h5{
    color:#fff;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 25px;
    line-height: 20px;
}
.img-circle{
    width:100px;
    height: 100px;
    border:1px solid #ddd;
}
.message{
    margin-bottom: 30px;
    display: flex;
    text-align: center;
}
.message>span{
    width: 33.333%;
    border-right: 1px solid #eee;
}
.container-box{
    /*margin-top: 20px;*/
    height:100%;
    padding:0;
    overflow: hidden;
}
.row{
    height:100%;
}
.method{
    margin: 20px auto;
    display: flex;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.method>div{
    width: 80px;
    cursor: pointer;
}
.method>div:hover img{
    transform: translateY(2px);
}
.method_icon{
    width:35px;
    height: 35px;
    margin-bottom: 5px;
    /*background:url('../images/appear.jpg') no-repeat;*/
}
.method>div:nth-child(2){
    height: 45px;
    width: 1px;
    background-color: rgba(255,255,255,0.1); 
}
.main{
    padding:20px 0 0 20px;
    height:100%;

}
.iframe-box{
    overflow: hidden;
    width:100%;
    height:100%;
}
iframe{
    width:100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.nav-header{
    /*line-height: 45px;*/
}
.border{
    border: inset 1px solid #fff;
    border-radius: 10px;
}
.btm{   
    /*box-shadow: 0 0 1px #eee;*/
}
.language-box{
    padding: 15px;
}
.language ul{
    cursor: pointer;
}
.language ul li:hover{
    background-color: #3c3d3e;
    color:rgba(255,255,255,0.7);
}
.uploadImg{
    opacity: 0;
}
.nav_left{
    float: left;
    padding-bottom: 20px;
    box-sizing: border-box;
    /*background-color: RGBA(13, 111, 184, 0.4);*/
    width: 243px;
}
.nav_right{
    /*margin-left: 250px;*/
    float: right;
    /*padding-bottom: 20px;*/
    /*border:1px solid RGBA(35, 45, 70, 1);*/
}
.nav_box{
    margin-left: 250px;
}
ul.navbar-nav{
    width:100%;
}
@media (min-width: 768px){
    .navbar-nav > li.nav_right {
        float: right;
    }
}




.navbar-nav > li a span{
    color:rgba(255,255,255,0.71);
    /*color: #000;   */
}
.navbar-nav > li:hover a span{
    color:RGBA(255,255,255,1);
}
.bottom_text{
    font-size: 12px;
    margin-top: 260px;
    text-align: center;
    color: RGBA(255, 255, 255, 0.21);
    line-height: 22px;
}
.icon_down{
    position: absolute;
    right: 10px;
    top: 11px;
    width:8px;
    height: 17px;
    background: url('../images/icon_down.png');
    background-size: 100% 100%;
}
.open{
    transform: rotate(0deg);
}
.nav .lowerStatistics{
    /*display: none;*/
}
.small_box{
    display: flex;
    justify-content: space-around;
    color:#C9AC6E;
}
.small_box img{
    width:39px;
    display: block;
    margin:0 auto 5px;
}
.small_box_2 img{
    width:42px;
}
.language{
    border:none;
    text-align: center;
    line-height: 20px;
    background-color: RGBA(38, 38, 38, 1);
    color: rgba(255,255,255,0.6);
}
.bg_active{
    color: #000!important;
    background: #F8D129!important;
}


.sys_bulletin_zz{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.84);
    position: absolute;
    top:0;
    z-index: 9999;
    display: none;
}
.sys_bulletin{
    width:700px;
    max-height: 400px;
    background:#262626;
    border-radius: 3px;
    border:1px solid #7B6D3B;
    position: relative;
    margin:100px auto;
    padding-bottom: 24px;
}
.sys_title{
    height: 44px;
    line-height:44px;
    text-indent: 20px;
    background:linear-gradient(to top,#1E1E1E 0%,#353535 100%);
    color:#A2A2A2;
}
.sys_back{
    width:24px;
    height:24px;
    font-size: 18px;
    line-height:24px;
    text-align: center;
    color: #808080;
    background:linear-gradient(to top,#222222 0%,#373737 100%);
    box-shadow:0 2px 4px rgba(0,0,0,0.37);
    position: absolute;
    top:8px;
    right:10px;
    font-weight: 700;
    border-radius: 3px;
}
.sys_content{
    padding:24px 24px 0 24px;
    max-height:315px;
    overflow: scroll;
    color:#C3C1C1;
    white-space: pre-line;
}



@media (max-width: 768px){
    iframe{
        width:100%;
        padding-right: 0;
    }
    .nav_box{
        float:right;
        background:#262626;
        position: absolute;
        right: 0;
        margin: 0;
        top: 20px;
    }
    ul.navbar-nav {
        width: auto;
        min-width: 110px;

    }
    .li_box{
        margin-bottom: 10px;
    }
    .li_box .label{
        display: inline-block;
        width: 32px;
    }
    .exit{
        float:left;
        padding-bottom: 7px;
    }
    .sys_bulletin{
        width:90%;
        margin:50px auto;
    }

    
}

@media (max-width:750px) {
    .nav_box{
        position: static;
    }
    .nav > li{
        position: static;
    }
    .id_box{
        position: static;
    }
    .childrenId{
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
